# Pandas Data: Importing and Exporting Excel Datasets in Python
**Author:**
Brahim Zirari <br>
**Version:**
Python 3.13.5 <br>
**Topic:** <br>
* This notebook contains an example of importing data from an Excel dataset and exporting the output to different formats.
  
**Dataset link:** <a href = "https://www.kaggle.com/datasets/brahimzr/per-capita-meat-consumption-by-type" > Click here </a>

Import Pnadas

In [13]:
import pandas as pd

Check Pandas functions and modules

In [14]:
print(dir(pd))

['ArrowDtype', 'BooleanDtype', 'Categorical', 'CategoricalDtype', 'CategoricalIndex', 'DataFrame', 'DateOffset', 'DatetimeIndex', 'DatetimeTZDtype', 'ExcelFile', 'ExcelWriter', 'Flags', 'Float32Dtype', 'Float64Dtype', 'Grouper', 'HDFStore', 'Index', 'IndexSlice', 'Int16Dtype', 'Int32Dtype', 'Int64Dtype', 'Int8Dtype', 'Interval', 'IntervalDtype', 'IntervalIndex', 'MultiIndex', 'NA', 'NaT', 'NamedAgg', 'Period', 'PeriodDtype', 'PeriodIndex', 'RangeIndex', 'Series', 'SparseDtype', 'StringDtype', 'Timedelta', 'TimedeltaIndex', 'Timestamp', 'UInt16Dtype', 'UInt32Dtype', 'UInt64Dtype', 'UInt8Dtype', '__all__', '__builtins__', '__cached__', '__doc__', '__docformat__', '__file__', '__git_version__', '__loader__', '__name__', '__package__', '__path__', '__spec__', '__version__', '_built_with_meson', '_config', '_is_numpy_dev', '_libs', '_pandas_datetime_CAPI', '_pandas_parser_CAPI', '_testing', '_typing', '_version_meson', 'annotations', 'api', 'array', 'arrays', 'bdate_range', 'compat', 'concat', 'core', 'crosstab', 'cut', 'date_range', 'describe_option', 'errors', 'eval', 'factorize', 'from_dummies', 'get_dummies', 'get_option', 'infer_freq', 'interval_range', 'io', 'isna', 'isnull', 'json_normalize', 'lreshape', 'melt', 'merge', 'merge_asof', 'merge_ordered', 'notna', 'notnull', 'offsets', 'option_context', 'options', 'pandas', 'period_range', 'pivot', 'pivot_table', 'plotting', 'qcut', 'read_clipboard', 'read_csv', 'read_excel', 'read_feather', 'read_fwf', 'read_gbq', 'read_hdf', 'read_html', 'read_json', 'read_orc', 'read_parquet', 'read_pickle', 'read_sas', 'read_spss', 'read_sql', 'read_sql_query', 'read_sql_table', 'read_stata', 'read_table', 'read_xml', 'reset_option', 'set_eng_float_format', 'set_option', 'show_versions', 'test', 'testing', 'timedelta_range', 'to_datetime', 'to_numeric', 'to_pickle', 'to_timedelta', 'tseries', 'unique', 'util', 'value_counts', 'wide_to_long']

Copy and paste the dataset path on your laptop

In [16]:
path = r"C:\Users\Brahim\Desktop\meat.xlsx"

Assign a name for your dataset **df** for example

In [17]:
df = pd.read_excel(path, sheet_name = "ALG")

In [30]:
print(df.head())

   Year  Meat, poultry   Meat, beef and buffalo   Meat, sheep and goat   \
0  1961        1.799442                 4.036318               3.608827
1  1962        1.656191                 3.312383               3.262195
2  1963        1.529399                 2.390319               2.896743
3  1964        1.563067                 2.196467               3.126134
4  1965        1.714377                 2.313376               3.253185

   Meat, Other   Fish and seafood
0      0.487142           3.290693
1      0.471764           1.937242
2      0.455781           1.377472
3      0.469942           1.552851
4      0.547361           1.404550

In [29]:
print(df.tail())

    Year  Meat, poultry   Meat, beef and buffalo   Meat, sheep and goat   \
57  2018        6.717401                 4.961605               7.762987
58  2019        6.470735                 5.188425               8.019371
59  2020        5.850510                 3.956248               8.021020
60  2021        6.089626                 3.612323               8.073443
61  2022        6.052613                 3.416320               8.007616

    Meat, Other   Fish and seafood
57      0.355105           4.192211
58      0.335373           3.846931
59      0.345308           3.028848
60      0.345441           2.832614
61      0.345581           2.794273

In [20]:
df[:]

,Year,"Meat, poultry","Meat, beef and buffalo","Meat, sheep and goat","Meat, Other",Fish and seafood
0,1961,1.799442,4.036318,3.608827,0.487142,3.290693
1,1962,1.656191,3.312383,3.262195,0.471764,1.937242
2,1963,1.529399,2.390319,2.896743,0.455781,1.377472
3,1964,1.563067,2.196467,3.126134,0.469942,1.552851
4,1965,1.714377,2.313376,3.253185,0.547361,1.404550
...,...,...,...,...,...,...
57,2018,6.717401,4.961605,7.762987,0.355105,4.192211
58,2019,6.470735,5.188425,8.019371,0.335373,3.846931
59,2020,5.850510,3.956248,8.021020,0.345308,3.028848
60,2021,6.089626,3.612323,8.073443,0.345441,2.832614
61,2022,6.052613,3.416320,8.007616,0.345581,2.794273

Using **iloc** create a subset dataset **dta** from **df** with first 5 rows and all columns

In [24]:
dta = df.iloc[[0,1,2,3,4],: ]
dta

,Year,"Meat, poultry","Meat, beef and buffalo","Meat, sheep and goat","Meat, Other",Fish and seafood
0,1961,1.799442,4.036318,3.608827,0.487142,3.290693
1,1962,1.656191,3.312383,3.262195,0.471764,1.937242
2,1963,1.529399,2.390319,2.896743,0.455781,1.377472
3,1964,1.563067,2.196467,3.126134,0.469942,1.552851
4,1965,1.714377,2.313376,3.253185,0.547361,1.404550

In [ ]:
**Export your new dataset as csv**, use index = false to avoid eporting the index column

In [28]:
dta.to_csv("dta_dataset.csv", index = False)