In [1]:
import pandas as pd

# XLSX

In [8]:
meat = pd.read_excel("C:/Users/Brahim/Desktop/meat.xlsx", sheet_name = "ALG")

In [9]:
meat.describe()

,Year,Meat,"Meat, beef and buffalo","Meat, sheep and goat","Meat, Other",Fish
count,62.000000,61.000000,61.000000,62.000000,62.000000,60.000000
mean,1991.500000,5.529865,4.112464,5.390156,0.414427,3.336388
std,18.041619,2.576046,1.195827,1.641491,0.077226,1.148218
min,1961.000000,1.529399,2.163626,2.893097,0.317900,1.191288
25%,1976.250000,2.320916,3.217553,3.655129,0.348937,2.288586
50%,1991.500000,7.242966,3.956248,5.668588,0.375583,3.558892
75%,2006.750000,7.595921,4.961605,6.372328,0.487086,4.171564
max,2022.000000,8.255460,6.645389,8.073443,0.575870,5.266186

In [ ]:
#rename