**Author:**
Brahim Zirari <br>
**Version:**
Python 3.13.5 <br>
**Topic:** <br>
**This notebook provides a math cheat sheet in Python with practical examples of:** <br>
- Set المجموعة  <br>
- Dictionary القاموس <br>

## Set

### Set Characters

1. Unordered_unindexed
2. Does not allow duplicates
3. Unchangeable

**1. Unordered & does not Allow Duplicates**

In [1]:
S = {8,12,25,1,"python",7.2,5,7.2,2,True, False, 0}
print(S)

{False, 1, 2, 5, 'python', 7.2, 8, 12, 25}

We can see clearly that Set is unordered

**2. Extract items from Set**

2.1 Using if

In [2]:
# Does pthon esist in S
if "python" in S:
    print("Exist")

Exist

In [3]:
if 8 in S:
    print("Exist")

Exist

In [4]:
if 9 in S:
    print("Exist")
else:
    print("Does not Exist")

Does not Exist

In [5]:
if 8 not in S:
    print("False")
else:
    print("Exist")

Exist

2.2 Using for

In [7]:
#For
for x in S:
    print(x)

False
1
2
5
7.2
8
12
25
python

**3. Set Functions**

In [6]:
dir(S)

['__and__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__iand__',
 '__init__',
 '__init_subclass__',
 '__ior__',
 '__isub__',
 '__iter__',
 '__ixor__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__or__',
 '__rand__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__ror__',
 '__rsub__',
 '__rxor__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__xor__',
 'add',
 'clear',
 'copy',
 'difference',
 'difference_update',
 'discard',
 'intersection',
 'intersection_update',
 'isdisjoint',
 'issubset',
 'issuperset',
 'pop',
 'remove',
 'symmetric_difference',
 'symmetric_difference_update',
 'union',
 'update']

In [7]:
print(S)

{False, 1, 2, 5, 'python', 7.2, 8, 12, 25}

In [8]:
dir(S)

['__and__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__iand__',
 '__init__',
 '__init_subclass__',
 '__ior__',
 '__isub__',
 '__iter__',
 '__ixor__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__or__',
 '__rand__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__ror__',
 '__rsub__',
 '__rxor__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__xor__',
 'add',
 'clear',
 'copy',
 'difference',
 'difference_update',
 'discard',
 'intersection',
 'intersection_update',
 'isdisjoint',
 'issubset',
 'issuperset',
 'pop',
 'remove',
 'symmetric_difference',
 'symmetric_difference_update',
 'union',
 'update']

In [ ]:
S.

In [11]:
#pop()
S.pop()
print(S)

{2, 5, 'python', 7.2, 8, 25}

In [13]:
#remove
S.remove(7.2)
print(S)

{2, 5, 'python', 8, 25}

In [17]:
p = (15, 18, 12.5, 'Exellent', True, 12, 12, 19, 12.5)

In [16]:
type(p)

tuple

In [18]:
S.update(p)
print(S)

{True, 2, 5, 'python', 8, 12.5, 12, 15, 18, 'Exellent', 19, 25}

In [17]:
type(S)

set

In [18]:
print(S)

{True, 2, 5, 7.2, 8, 12.5, 12, 15, 18, 19, 25, 'Exellent', 'python'}

In [20]:
x = [999,888]

In [21]:
S.update(x)
print(S)

{True, 2, 5, 'python', 999, 8, 12.5, 12, 15, 18, 'Exellent', 19, 888, 25}

In [22]:
#difference
S.difference(x)

{12, 12.5, 15, 18, 19, 2, 25, 5, 8, 'Exellent', True, 'python'}

In [23]:
D = {2,5,7,True,"python","jupyter",False}

In [24]:
#intersection
S.intersection(D)

{2, 5, True, 'python'}

In [25]:
S.issubset(D)

False

In [27]:
S.update(D)
print(S)

{False, True, 2, 5, 'jupyter', 7, 8, 12.5, 12, 15, 18, 'Exellent', 19, 25, 'python', 999, 888}

In [28]:
D.issubset(S)

True

In [29]:
S.union(D)

{12,
 12.5,
 15,
 18,
 19,
 2,
 25,
 5,
 7,
 8,
 888,
 999,
 'Exellent',
 False,
 True,
 'jupyter',
 'python'}

**Exercise**

In [30]:
X = 5
Y = 1.2
#type of X and Y
print(type(X))
print(type(Y))

<class 'int'>
<class 'float'>

In [32]:
Z = X * Y
print(Z)
E = X**Y
print(E)
K = X/Y
print(K)

6.0
6.898648307306074
4.166666666666667

In [34]:
#Slicing "y" from T
T = "Python"
T[1]

'y'

In [35]:
#Slicing 9 from L
L = [1,5,7,9,"Python"]
L[3]

9

In [36]:
S = {1,5,9,1,"Jupyter",1.3}
type(S)

set

In [ ]:
#Change "Jupyter" to "Mark"
غير ممكن

In [37]:
S.update(L)
print(S)

{1, 1.3, 5, 7, 9, 'Jupyter', 'Python'}

---

## Dictionary

### Dictionary Characters

1. Does not allow duplicates in Keys
2. Changeable
3. Ordered_Indexed

In [1]:
Samir = {"Height": 1.75,
     "Weight": 72}
type(Samir)

dict

In [2]:
Course = {"module" : "Python",
          "IDE" : "Jupyter",
          "Hours" : 10,
         "Success": True,
         "Key5": 10}
print(Course)

{'module': 'Python', 'IDE': 'Jupyter', 'Hours': 10, 'Success': True, 'Key5': 10}

**1. Change & Adding new items**

In [3]:
Course["module"]= "Python"
print(Course)
#Adding new items
Course["Mark"] = "Good"
print(Course)

{'module': 'Python', 'IDE': 'Jupyter', 'Hours': 10, 'Success': True, 'Key5': 10}
{'module': 'Python', 'IDE': 'Jupyter', 'Hours': 10, 'Success': True, 'Key5': 10, 'Mark': 'Good'}

**2. Acessing items**

In [14]:
D = {"Name": ["Ahmed", "Brahim", "Amine"],
     "Weight": [65,85,72]} #key, value
type(D)

dict

In [15]:
# Access Brahim from D
D["Name"]

['Ahmed', 'Brahim', 'Amine']

In [18]:
D["Name"][1]

'Brahim'

In [22]:
#Acess 72 from D
D["Weight"][2]

72

In [23]:
#Acess Ahmed Weight
D["Weight"][0]

65

In [ ]:
#chabge Ahmed weight to 95??

In [24]:
D["Weight"][0] = 95
print(D)

{'Name': ['Ahmed', 'Brahim', 'Amine'], 'Weight': [95, 85, 72]}

**3. Dictionary Functions**

Most Dictionary Functions: <br>
values() <br>
Keys() <br>
items()

In [25]:
D.keys()

dict_keys(['Name', 'Weight'])

In [26]:
D.values()

dict_values([['Ahmed', 'Brahim', 'Amine'], [95, 85, 72]])

In [27]:
D.items()

dict_items([('Name', ['Ahmed', 'Brahim', 'Amine']), ('Weight', [95, 85, 72])])

**4. Dictionary To DataFrame**

In [123]:
import pandas as pd

In [150]:
D_table = pd.DataFrame(D)
D_table

     Name  Mark
0   Ahmed    11
1  Brahim    15
2   Amine    19