**Author:**
Brahim Zirari <br>
**Version:**
Python 3.13.5 <br>
**Topic:** <br>
**This notebook provides a math cheat sheet in Python with practical examples of:** <br>
- Set المجموعة  <br>
- Dictionary القاموس <br>
- Boolean

## Set

### Set Characters

1. Unordered_unindexed
2. Does not allow duplicates
3. Unchangeable

**1. Unordered & does not Allow Duplicates**

In [2]:
S = {8,12,25,1,"python",7.2,5,7.2,2,True, False, 0}
print(S)

{False, 1, 2, 5, 7.2, 8, 12, 'python', 25}

We can see clearly that Set is unordered

**2. Extract items from Set**

2.1 Using if

In [7]:
# Does pthon esist in S
if "python" in S:
    print("Exist")

Exist

In [6]:
if 8 in S:
    print("Exist")

Exist

In [9]:
if 9 in S:
    print("Exist")
else:
    print("Does not Exist")

Does not Exist

In [10]:
if 8 not in S:
    print("False")
else:
    print("Exist")

Exist

2.2 Using for

In [11]:
#For
for x in S:
    print(x)

False
1
2
5
7.2
8
12
python
25

**3. Set Functions**

In [12]:
dir(S)
S.

['__and__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__iand__',
 '__init__',
 '__init_subclass__',
 '__ior__',
 '__isub__',
 '__iter__',
 '__ixor__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__or__',
 '__rand__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__ror__',
 '__rsub__',
 '__rxor__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__xor__',
 'add',
 'clear',
 'copy',
 'difference',
 'difference_update',
 'discard',
 'intersection',
 'intersection_update',
 'isdisjoint',
 'issubset',
 'issuperset',
 'pop',
 'remove',
 'symmetric_difference',
 'symmetric_difference_update',
 'union',
 'update']

In [13]:
print(S)

{False, 1, 2, 5, 7.2, 8, 12, 'python', 25}

In [15]:
#pop()
S.pop()
print(S)

{2, 5, 7.2, 8, 12, 'python', 25}

In [16]:
#remove
S.remove(12)
print(S)

{2, 5, 7.2, 8, 'python', 25}

In [17]:
p = [15, 18, 12.5, 'Exellent', True, 12, 12, 19, 12.5]

In [18]:
type(p)

list

In [20]:
S.update(p)
print(S)

{True, 2, 'Exellent', 5, 7.2, 8, 12.5, 'python', 12, 15, 18, 19, 25}

In [21]:
type(S)

set

In [ ]:
#extend & append

In [22]:
print(S)

{True, 2, 'Exellent', 5, 7.2, 8, 12.5, 'python', 12, 15, 18, 19, 25}

In [25]:
x = [999,888]

In [26]:
S.update(x)
print(S)

{True, 2, 'Exellent', 5, 7.2, 8, 999, 12.5, 'python', 12, 15, 18, 19, 888, 25}

---

## Dictionary

### Dictionary Characters

1. Does not allow duplicates in Keys
2. Changeable
3. Ordered_Indexed

In [12]:
Samir = {"Height": 1.75,
     "Weight": 72}
type(Samir)

dict

In [ ]:
Course = {"module" : "Python",
          "IDE" : "Jupyter",
          "Hours" : 10,
         "Success": True,
         "Key5": 10}
print(Course)

**1. Change & Adding new items**

In [ ]:
Course["module"]= "Python"
print(Course)
#Adding new items
Course["Mark"] = "Good"
print(Course)

**2. Acessing items**

In [14]:
D = {"Name": ["Ahmed", "Brahim", "Amine"],
     "Mark": [11,15,19]} #key, value
type(D)

dict

In [15]:
# Access Brahim from D
D["Name"]

['Ahmed', 'Brahim', 'Amine']

In [16]:
D["Name"][1]

'Brahim'

In [17]:
#Acess 19 from D
D["Mark"][2]

19

In [18]:
#Acess Samir's Weight
Samir["Weight"]

72

In [ ]:
#chabge Samir's weight to 85??

**3. Dictionary Functions**

Most Dictionary Functions: <br>
values() <br>
Keys() <br>
items()

**4. Dictionary To DataFrame**

In [123]:
import pandas as pd

In [150]:
D_table = pd.DataFrame(D)
D_table

     Name  Mark
0   Ahmed    11
1  Brahim    15
2   Amine    19

---

### If conditionals

1. One condition (if)

In [160]:
a = 8
b = 12

In [161]:
if a==b :
    print("a equals b")

In [162]:
if a<b:
    print("a is less than b")

a is less than b

In [164]:
#list
c = [11,12,25]
d = [7.5,8.1,9.2]
if c[0] > d[0]:
    print("11 is bigger than 7.5")

11 is bigger than 7.5

2. Two and more conditions

In [165]:
if a==b:
    print("a equals to b")
elif a>b:
    print("a is bigger than b")
elif a<b:
    print("a is less than b")

a is less than b

3. Else

In [170]:
W = 95.2
h = 1.62
BMI = (W / h**2)
#obese BMI>=30
#overweight 25<BMI<30
#normalweight 19=<BMI<=25
#underweight <19
if BMI<19:
    print("This person is underweight")
elif 19<=BMI<=25:
    print("This person is normal weight")
elif 25<BMI<30:
    print("This person is overweight")
else:
    print("This person is Obese")

This person is Obese

In [168]:
print(BMI)

19.985508996498005

---

### AND, OR, NOT

In [179]:
#AND
height1 = 1.62
height2 = 1.78
h_base = 1.75
if height1>h_base and height2>h_base:
    print("They are accepted")
else:
    print("They are not accepted")

They are not accepted

In [177]:
#OR
height1 = 1.62
height2 = 1.78
h_base = 1.75
if  height1>h_base or height2>h_base:
    print("They  are accepted")
else:
    print("They are not accepted")

They  are accepted

In [185]:
#Not
height1 = 1.62
height2 = 1.78
h_base = 1.75
if not height1>h_base and height2>h_base:
          print("They are accepted")
else:
    print("They are not accepted")

They are accepted

---

### For

In [186]:
country = ["ALG", "TUN", "EGY"]

In [187]:
for x in country:
    print(x)

ALG
TUN
EGY

In [188]:
for y in range(6):
    print(y)

0
1
2
3
4
5

---

### Functions

In [190]:
def salem():
    print("السلام عليكم و رحمة الله و بركاته")

In [191]:
def tasmiya():
    print("بسم الله الرحمن الرحيم")

In [194]:
def average(a,b,c):
    return (a+b+b)/3

In [195]:
average(12,8,9.75)

9.333333333333334

In [201]:
import statistics as st
import numpy as np

In [216]:
def show(*values):
    result = print(*values)

In [220]:
show(1,2,3,4,5,6,7,8,9,12,1,3,15)

1 2 3 4 5 6 7 8 9 12 1 3 15